{% extends "base.html" %}

{% block sidebar %}
  {{ super() }}
{% endblock %}

{% block dashboard_content %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div id="alert" class="col-md-auto"></div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      // Get value on button click and show alert
      $("#send_button").click(function(){
        var question = $("#input_text").val();

        $('#input_text').val('');

        botui.message.add({
          human: true,
          content: question
        });

        url = '/message?question=' + question

        $.get(url, function(data, status){
          formatMessage(data);
        });
      });
    });
  </script>

  <script>
    $(document).ready(function(){
    $("#input_text").on('keydown', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
          $("#send_button").click();
        }
      })
    });
  </script>

  <script>
    function emailSuccess() {
      var alert = document.createElement("div");

      alert.setAttribute("class", "alert alert-success alert-dismissible fade show");
      alert.setAttribute("role", "alert");

      var text = document.createTextNode("Email sent successfully!");

      var closebutton = document.createElement("button");
      closebutton.setAttribute("type", "button");
      closebutton.setAttribute("class", "close");
      closebutton.setAttribute("data-dismiss", "alert");
      closebutton.setAttribute("aria-label", "Close");

      var closebutton_cross = document.createElement("span");
      closebutton_cross.innerHTML = '&times;';
      closebutton_cross.setAttribute("aria-hidden", "true");
      alert.appendChild(text);
      closebutton.appendChild(closebutton_cross)
      alert.appendChild(closebutton);
      alert_wrapper = document.getElementById("alert").appendChild(alert);
    };

    function emailError() {
      var alert = document.createElement("div");
      alert.setAttribute("class", "alert alert-warning alert-dismissible fade show");
      alert.setAttribute("role", "alert");

      var text = document.createTextNode("Unable to send email. Please try again.");

      var closebutton = document.createElement("button");
      closebutton.setAttribute("type", "button");
      closebutton.setAttribute("class", "close");
      closebutton.setAttribute("data-dismiss", "alert");
      closebutton.setAttribute("aria-label", "Close");

      var closebutton_cross = document.createElement("span");
      closebutton_cross.innerHTML = '&times;';
      closebutton_cross.setAttribute("aria-hidden", "true");
      alert.appendChild(text);
      closebutton.appendChild(closebutton_cross)
      alert.appendChild(closebutton);

      alert_wrapper = document.getElementById("alert").appendChild(alert);
    };
  </script>

  <style>
    #nitrexo-bot {
      height: 89vh;
    }

    .botui-app-container {
      width: 100%;
    }

    .botui-messages-container, .botui-actions-container {
      margin: 0 auto;
      width: 600px;
    }
  </style>

  <div class="contrainer">
    <div class="botui-app-container col-md-12" id="nitrexo-bot">
      <bot-ui></bot-ui>
    </div>

    <div class="container-fluid" style="position: relative; bottom: 12px;">
      <div class="input-group" style="position: relative; width: 50%; margin: auto; ">
        <input type="text" class="form-control" placeholder="Ask a Question" aria-label="Question for Rasa" aria-describedby="button-addon4" id="input_text">

        <div class="input-group-append" id="button-addon4">

        <button class="btn btn-outline-primary" type="button" id="send_button">Send</button>

        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sendEmail">Contact Nitrexo Staff</a>

            <div role="separator" class="dropdown-divider"></div>

            <a class="dropdown-item" href="#" onclick="init_chatbot()">Main Menu</a>
          </div>
        </div>
      </div>  
    </div>



    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/botui/build/botui.js"></script>

    <script>
      var botui = new BotUI('nitrexo-bot');

      function init_chatbot() {
        botui.message.add({
          content: 'Hi, I am Katherine!'
        }).then(function () {
          // wait till previous message has been shown.
          botui.message.add({
            delay: 200,
            content: 'How can I help you?'
          });

          botui.action.button({
            action: [
              {
                'text':'Thermo-Elastic Verification',
                'value':'Thermo-Elastic Verification'
              },
              {
                'text':'Perform Temperature Mapping',
                'value':'Temperature Mapping'
              },
              {
                'text':'Thermal Model Reduction',
                'value':'Thermal Model Reduction'
              },
              {
                'text':'Perform Thermal Model Reduction',
                'value':'Perform TMR'
              },
              {
                'text':'Tutorials',
                'value':'Tutorials'
              },
            ]
          }).then(function (res) {
            // will be called when a button is clicked.
            url = '/message?reply=' + res.value

            $.get(url, function(data, status){
              formatMessage(data);
            });
          });
        });
      };

      init_chatbot();
    </script>

    <script>
      function addButtons(buttons) {   
        var actions = []
        var jsonData = {};

        buttons.forEach(function(button) {
            jsonData = {};

            var text = button['text'];
            var value = button['value'];

            jsonData['text'] = text;
            jsonData['value'] = value;

            actions.push(jsonData);
        });

        return actions
      };

      function formatMessage(res) {
        if (res.hasOwnProperty('noUserFound')) {
          location.reload();
        }

        if(res.hasOwnProperty('message')) {
          var count = res.message.length;

          for(var i = 0; i < count; i++) {
            var item = res.message[i];

            botui.message.add({
              type: item['type'],
              content: item['content']
            });
          }
        }

        if(res.hasOwnProperty('input')) {
          botui.action.text({
            action: {
              placeholder: res.input['placeholder']
            }
          }).then(function (res) { // will be called when a button is clicked.
            url = '/message?question=' + res.value

            $.get(url, function(data, status) {
              formatMessage(data);
            });
          });
        }

        if(res.hasOwnProperty('buttons')) {
          var count = res.buttons.length;

          botui.action.button({
            action: addButtons(res['buttons'])
          }).then(function (res) {
            // will be called when a button is clicked.
            url = '/message?reply=' + res.value

            $.get(url, function(data, status){
              formatMessage(data);
            });
          });
        }

        if(res.hasOwnProperty('sinas_buttons')) {
          var count = res.sinas_buttons.length;

          botui.action.button({
              action: addButtons(res['sinas_buttons'])
          }).then(function (res) {
            // will be called when a button is clicked.
            url = '/sinas?button=' + res.value

            $.get(url, function(data, status) {
              formatMessage(data);
            });
          });
        }

        if(res.hasOwnProperty('sinas_text')) {
          botui.action.text({
            action: {
              placeholder: res.sinas_text['placeholder']
            }
          }).then(function (res) { // will be called when a button is clicked.
            url = '/sinas?text=' + res.value

            $.get(url, function(data, status){
              formatMessage(data);
            });
          });
        }
      };
    </script>

    <script>
      async function uploadFile() {
        let formData = new FormData();           
        formData.append("file", fileupload.files[0]);

        await fetch('/upload', {
          method: "POST", 
          body: formData
        })
        .then(document.getElementById("fileupload").id = "")
        .then(document.getElementById("upload-button").onclick = "")
        .then((response) => { 
          return response.text().then((data) => {
            json_obj = JSON.parse(data);

            formatMessage(json_obj);

            return data;
        }).catch((err) => {
          console.log(err);
        })});
      };
    </script>

    <script>
      function addFile() {
        botui.message.add({
          delay: 200,
          type: 'html',
          content: '<input id="fileupload" type="file" name="fileupload" /><button id="upload-button" onclick="uploadFile()"> Upload </button>'
        });
      };
    </script>

    <script>
      function sendUserMessage() {
        var message = document.getElementById("sendEmailBody").value;
        var json_email = JSON.stringify({ "message": message});
        var settings = {
          "async": true,
          "crossDomain": true,
          "url": "/sendemail",
          "method": "POST",
          "headers": {
              "content-type": "application/json",
              "cache-control": "no-cache"
          },
          "processData": false,
          "data": json_email
        };

        $.ajax(settings).done(function (response) {
          if(response['status'] == "Success") {
            document.getElementById("sendEmailBody").value = "";

            $('#sendEmail').modal('toggle');
            emailSuccess();  
          }
          else{
            document.getElementById("sendEmailBody").value = "";

            $('#sendEmail').modal('toggle');

            emailError();
          }
        });
      };
    </script>

    <!-- Character count textarea-->
    <script>
      function charcount() {
        var text_length = $('#sendEmailBody').val().length;
        $('#charcount').html(text_length);
      };
    </script>

    <!-- Modal -->
    <div class="modal fade" id="sendEmail" tabindex="-1" role="dialog" aria-labelledby="sendEmailLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sendEmailLabel">Contact Nitrexo</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <textarea class="form-control" id="sendEmailBody" rows="10" maxlength="1000" onkeydown="charcount()"></textarea>

          <p class="text-secondary"><span id="charcount">0</span>/1000</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          <button id="sendEmailSubmit" type="button" class="btn btn-primary" onclick="sendUserMessage()">Send Message</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}