{% extends "base.html" %}

{% block sidebar %}
  {{ super() }}
{% endblock %}


{% block dashboard_content %}
  <div class="container" style="margin-top: 30px;">
    <h3 style="margin-bottom: 5%;">Tutorial Manager</h3>

    <p>This is where admins can add or delete tutorial videos.</p>

    <p>The videos are all stored in the static folder.</p>

    <p>They can be rendered on a web page by using a video tag. Note that when specifying their paths in the source attribute, be sure that they start with the static folder's URL.</p>

    <form action="{{ url_for('admin_tutorial_manager') }}" method="POST" enctype="multipart/form-data" style="margin-top: 12%;">
      <h3>Add Tutorial</h3>

      <input type="text" name="action" value="add" hidden>

      <input class="form-control" type="number" placeholder="Chapter number" min="1" step="1" name="cnum" style="margin-top: 5%;" required>

      <input class="form-control" type="text" placeholder="Chapter title" name="ctitle" style="margin-top: 5%;" required>

      <input class="form-control" type="number" placeholder="Lesson number" min="1" step="1" name="lnum" style="margin-top: 5%;" required>

      <input class="form-control form-control-sm" type="file" accept=".mp4" style="margin-top: 5%;">

      <button type="submit" class="btn btn-primary" style="margin-top: 5%;">Add</button>
    </form>

    <form action="{{ url_for('admin_tutorial_manager') }}" method="POST" style="margin-top: 12%;">
      <h3>Delete Chapter/Lesson</h3>

      <input type="text" name="action" value="delete" hidden>

      <input class="form-control" type="number" placeholder="Chapter number" min="1" step="1" name="cnum" style="margin-top: 5%;" required>

      <input class="form-control" type="number" placeholder="Lesson number" min="1" step="1" name="lnum" style="margin-top: 5%;">

      <button type="submit" class="btn btn-primary" style="margin-top: 5%;">Delete</button>
    </form>

    <div style="margin: 12% 0;">
      <h3>Available Tutorials</h3>

      {% for chapter in tutorials %}
        <div>
          <h4>{{ chapter }}</h4>

          {% set lessons = tutorials[chapter] %}

          <ul>
            {% for lesson in lessons %}
              <li>{{ lesson }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}